page-home {
    
    .head {
        padding-top: 60px !important;

        .no-margin {
            margin: 0px !important;
            padding-left: 16px;
        }

        img {
            height: 70px;
        }

        .welcome {
            padding-top:20px;
        }

    }

    .new-user {
        .button-clear-md-dark {
          border-color: transparent;
          color: #222;
          background-color: transparent;
          text-transform: none;
        }
    }

    .login-form {
        .item {
            color:black;
            font-weight: 500;
            font-size:20px;
        }

    }
}


